<div class="container">
    <div class="row">
        <%include ../public/left_menu.html%>
        <div class="col-md-9">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th style="width: 15%">图片</th>
                    <th style="width: 20%">描述</th>
                    <th style="width: 10%">分类</th>
                    <th style="width: 20%">时间</th>
                    <th style="width: 10%">作者</th>
                    <th style="width: 10%">点击</th>
                    <th style="width: 15%">操作</th>
                </tr>
                </thead>
                <tbody>
                <%data.forEach(function(item){%>
                <tr>
                    <td><img src="/img/labs/<%= item.imgPath%>" style="width: 100px;" alt=""/></td>
                    <td><%= item.description%></td>
                    <td><%= item.classify%></td>
                    <td><%= item.datetime%></td>
                    <td><%= item.author%></td>
                    <td><%= item.pv%></td>
                    <td>
                        <a href="javascript:;"class="delBtn" data-id="<%= item.id%>">删除</a>
                        <a href="/admin/labs/demo/upload/<%= item.id%>">编辑</a>
                        <%if(item.status === '0'){%>
                        <a href="javascript:;" data-id="<%= item.id%>" class="unzipBtn">解压</a>
                        <%}%>
                    </td>
                </tr>
                <%})%>
                </tbody>
            </table>
            <%include ../../pages/public/page.html%>
        </div>
    </div>
</div>
<script src="/js/libs/layer/layer.js"></script>
<script src="/js/labs_module.js"></script>