<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../static/js/jquery.1.10.0.js"></script>
    <script>
        $(function () {
            $.ajax({
                type:'post',
                url:'http://127.0.0.1:3000/api/test',
                dataType:'json',
                async:false,
                data:{
                    name : 'john',
                    age : 30
                },
                success: function (data) {
                    console.log(data);
                    $('#div1').html('亲爱的：<h1>'+ data.name +'</h1>'+data.info);
                },
                error: function () {
                    console.log('error');
                }
            });
        });
    </script>
</head>
<body>
<div id="div1"></div>
</body>
</html>