<div class="demo-banner">
    <div class="container">
        <h1>组件</h1>
        <p>无数可复用的组件，包括字体图标、下拉菜单、导航、警告框、弹出框等更多功能。</p>
    </div>
</div>
<div class="container">
    <div class="row pt20">
        <%labsData.forEach(function(item){%>
        <div class="col-md-3">
            <div class="thumbnail">
                <img src="/img/labs/<%= item.imgPath%>" class="labs-thumbnail">
                <div class="caption">
                    <h3><%= item.title%></h3>
                    <p>
                        <a href="/labs/demo/<%=item.id%>" class="btn btn-primary">查看</a>
                    </p>
                </div>
            </div>
        </div>
        <%})%>
    </div>
    <div class="row pt20">
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">推荐博客</h3>
                </div>
                <div class="panel-body">
                    <%blogData.forEach(function(item){%>
                    <p class="text-muted">
                        <a href="/blogDetails/<%= item.id%>"><%= item.title%></a>
                        <span><%= item.author%></span>
                        <span><%= item.datetime%></span>
                    </p>
                    <%})%>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">教程分享</h3>
                </div>
                <div class="panel-body">
                    <%for(var i=0;i<10;i++){%>
                    <p class="text-muted"><a href="#">自制五子棋游戏一枚，简单AI，欢迎调戏！</a></p>
                    <%}%>
                </div>
            </div>
        </div>
    </div>
</div>