<div class="col-md-3">
    <div class="list-group">
        <a href="javascript:;" class="list-group-item active">博客管理</a>
        <a href="/admin/blog/list" class="list-group-item">博客列表</a>
        <a href="/admin/blog/publish" class="list-group-item">写博客</a>
    </div>
    <div class="list-group">
        <a href="javascript:;" class="list-group-item active">实验室</a>
        <a href="/admin/labs/list" class="list-group-item">Demo列表</a>
        <a href="/admin/labs/demo/upload" class="list-group-item">发布Demo</a>
    </div>
</div>