<div class="container">
    <form class="form-horizontal" method="post" action="/doReg">
        <div class="form-group">
            <label class="col-sm-2 control-label">邮箱：</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" name="email">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">昵称：</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="nickname">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">性别：</label>
            <div class="col-sm-4">
                <div class="radio-inline">
                    <label><input type="radio" name="sex" value="1"> 男</label>
                </div>
                <div class="radio-inline">
                    <label><input type="radio" name="sex" value="0"> 女</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">密码：</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" name="password">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">确认密码：</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" name="re_password">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">技术栈：</label>
            <div class="col-sm-4">
                <div class="checkbox-inline">
                    <label><input type="checkbox" name="inn" value="JavaScript"> JavaScript</label>
                </div>
                <div class="checkbox-inline">
                    <label><input type="checkbox" name="inn" value="PHP"> PHP</label>
                </div>
                <div class="checkbox-inline">
                    <label><input type="checkbox" name="inn" value="HTML5"> HTML5</label>
                </div>
                <div class="checkbox-inline">
                    <label><input type="checkbox" name="inn" value="Node.js"> Node.js</label>
                </div>
                <div class="checkbox-inline">
                    <label><input type="checkbox" name="inn" value="Java"> Java</label>
                </div>
                <div class="checkbox-inline">
                    <label><input type="checkbox" name="inn" value="AngularJs"> AngularJs</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">注册</button>
            </div>
        </div>
    </form>
</div>