<div class="container">
    <%include ../../public/classify_ejs.html%>
    <%data.forEach(function(item){%>
    <div class="panel panel-success">
        <div class="panel-body">
            <h5><a href="/blogDetails/<%= item.id%>"><%= item.title%></a></h5>
            <p>
                <span class="text-muted">浏览：<%= item.pv%></span>
                <span class="text-muted">更新时间：<%= item.datetime%></span>
                <span class="text-muted">分类：<%= item.classify%></span>
            </p>
            <p><a href="/blogDetails/<%= item.id%>"><%= item.description%></a></p>
        </div>
    </div>
    <%})%>
    <%include ../../public/page.html%>
</div>