<div class="container">
    <div class="row">
        <%include ../../public/left_menu.html%>
        <div class="col-md-9">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th style="width: 25%;">编号</th>
                    <th style="width: 25%;">名称</th>
                    <th style="width: 25%;">时间</th>
                    <th style="width: 25%;">操作</th>
                </tr>
                </thead>
                <tbody>
                <%data.forEach(function(item,index){%>
                <tr>
                    <td><%= index+1 %></td>
                    <td><%= item.className%></td>
                    <td><%= item.datetime%></td>
                    <td><a href="javascript:;" data-number="<%= item.id%>" class="classifyDelBtn">删除</a></td>
                </tr>
                <%})%>
                </tbody>
            </table>
            <%include ../../public/page.html%>
        </div>
    </div>
</div>
<script src="/js/libs/layer/layer.js"></script>
<script src="/js/classify_module.js"></script>