<div class="container">
    <div class="row">
        <%data.forEach(function(item){%>
        <div class="col-md-3">
            <div class="thumbnail">
                <img src="/img/labs/<%= item.imgPath%>" class="labs-thumbnail">
                <div class="caption">
                    <p class="lead" style="height: 58px;overflow: hidden;"><%= item.title%></p>
                    <p><%= item.description%></p>
                    <p>
                        <a href="/labs/demo/<%= item.id%>" class="btn btn-default">查看</a>
                    </p>
                </div>
            </div>
        </div>
        <%})%>
    </div>
    <%include ../../public/page.html%>
</div>