<div class="col-md-3">
    <div class="list-group">
        <a href="javascript:;" class="list-group-item active">博客管理</a>
        <a href="/admin/blog/list" class="list-group-item">博客列表</a>
        <a href="/admin/blog/publish" class="list-group-item">写博客</a>
    </div>
    <div class="list-group">
        <a href="javascript:;" class="list-group-item active">实验室</a>
        <a href="/admin/labs/list" class="list-group-item">Demo列表</a>
        <a href="/admin/labs/demo/upload" class="list-group-item">发布Demo</a>
    </div>
    <div class="list-group">
        <a href="javascript:;" class="list-group-item active">分类管理</a>
        <a href="/admin/classify/list" class="list-group-item">分类列表</a>
        <a href="/admin/classify/add" class="list-group-item">添加分类</a>
    </div>
    <div class="list-group">
        <a href="javascript:;" class="list-group-item active">用户管理</a>
        <a href="javascript:;" class="list-group-item">用户列表</a>
    </div>
    <div class="list-group">
        <a href="javascript:;" class="list-group-item active">留言管理</a>
        <a href="javascript:;" class="list-group-item">留言列表</a>
    </div>
</div>