<div class="container">
    <%for(var i=0;i< data.length;i++){%>
    <div class="panel panel-success">
        <div class="panel-body">
            <h5><%= data[i].title%></h5>
            <p>
                <span class="text-muted">浏览：100</span>
                <span class="text-muted">更新时间：<%= data[i].datetime%></span>
                <span class="text-muted">分类：<%= data[i].classify%></span>
            </p>
            <p><%= data[i].description%></p>
        </div>
    </div>
    <%}%>
    <div class="text-center">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
</div>